.backgroundrest_project {
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;


}

body {
    width: 100vw;
    padding: 0;
    border: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.backhead {
    background-image: url(../img/fondocode74.jpg);
    background-color: black;
    background-size: cover;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    /* padding: 20vh; */

}

.sectionhead {
    background-image: url(../img/cmdhead.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 2vh;
    width: 100vw;
    overflow-x: hidden;
}




.videohead {
    height: 40.25vh;
    object-fit: cover;
    width: 100vw;
    position: relative;

}


.videohead video {
    height: 40vh;
    object-fit: cover;
    width: 100vw;
    position: relative;
}


.videocontent {
    width: 100vw;

}

.video-box {
    height: 40vh;
    width: 100vw;


}

.logodevs {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.galleryimg img {
    color: white;
    transform: scale(1);
    object-fit: cover;

}

.galleryimg {
    transform: scale(1);
    object-fit: cover;
    padding: 0;


}

.gallerygrid {
    width: 100vw;
    margin-bottom: 2em;

}


.backfoot {

    background-color: black;

}


.formsection {
    width: 55vw;
}

.formsize {
    width: 45vw;

}

.flexStarters {
    background-color: white;
    color: black
}

.backhead2 {
    background-image: url(../img/fondocode74.jpg);
    background-color: black;
    background-repeat: repeat-x;
    padding: 0;
    width: 100vw;
    height: 13VH;
}

.gallerytitle {
    background: black;
    color: white;
    width: 100%;

}


.aboutus2 {

    width: 100vw;
    background-color: black;

}

.textaboutus {

    background-color: black;
    border: black 2em solid;

}

.mapdevs {

    width: 50%;


}