/* .backgroundrest_project {
    width: 100%;
    background-image: url(/img/fondocode.jpg);
    background-repeat: repeat-x;
} */


.backhead {
    background-image: url(/img/fondocode.jpg);
    background-repeat: repeat-x;
    padding: 0;
    height: 33vh;
    width: 100%;
}

.sectionhead {
    background-image: url(/img/cmdhead.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 2vh;
    width: 100%;
    overflow-x: hidden;
}