/* .backgroundrest_project {
    width: 100%;
    background-image: url(/img/fondocode.jpg);
    background-repeat: repeat-x;
} */



.backhead {
    background-image: url(../img/fondocode72.jpg);
    background-color: black;
    background-repeat: repeat-x;
    padding: 0;
    height: 20vh;
    width: 100%;
}

.sectionhead {
    background-image: url(../img/cmdhead.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 2vh;
    width: 100%;
    overflow-x: hidden;
}


/* .section {
    width: 100%;

} */


.videohead {
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: relative;
}

.video-box {
    height: 45vh;

}

.logodevs {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.galleryimg {
    border: red solid 1em;
    color: white;

}



.backmiddle {
    background-image: url(../img/fondocode72.jpg);
    background-color: black;
    background-repeat: repeat-x;
    padding: 0;
    height: 10vh;
    width: 100%;

}

.backfoot {
    background-image: url(../img/fondocode72.jpg);
    background-color: black;
    background-repeat: repeat-x;
    padding: 0;
    height: 40vh;
    width: 100%;
}

.galleryimg {
    max-height: 100%;

}